/* .about {
} */
.about__prev {
	background-image: url(../images/about/about-bg.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	text-align: center;
	padding: 160px 0;
	margin-top: -53px; /* картинкой-фоном поднялись и перекрыли полупрозрачный фон у хлебных крошек */
}

.about__prev-title {
	color: $title-black;
	@extend %title-font;
	font-size: 60px;
	line-height: 80px;
}
.about__content {
	padding: 130px 0 40px;
}
.about__title {
	color: $title-black;
	@extend %title-font;
	font-size: 36px;
	line-height: 60px;
	padding-bottom: 22px;
	margin-bottom: 22px;
	// рисуем полосочку:
	position: relative;
	&::after {
		content: "";
		position: absolute;
		width: 200px;
		height: 1px;
		bottom: 0;
		left: 0;
		background: #6d7278;
	}
}
.about__text {
	padding-left: 284px;
	p {
		margin-bottom: 30px;
	}
}
.about__popup {
	background-image: url(../images/about/popup-bg.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	min-height: 414px;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* .about__popup-play {
} */
/* .about__popup-imgbtn {
} */

// ====================================================================================================================

.inspiration {
	padding-top: 50px;
	margin-bottom: 70px;
	// вставим картинку фон:
	position: relative;
	&::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 362px;
		background-image: url(../images/about/inspiration-bg.jpg);
		z-index: -1;
	}
}

.inspiration__inner {
	display: flex;
	justify-content: center;
	align-items: center;
}
.inspiration__images {
	margin-right: 78px;
	margin-left: -230px;
}
.inspiration__content {
	max-width: 825px;
}
.inspiration__title {
	font-size: 36px;
	line-height: 60px;
	color: $title-black;
	@extend %title-font;
	padding-bottom: 16px;
	margin-bottom: 24px;
	// рисуем полосочку:
	position: relative;
	&::after {
		content: "";
		position: absolute;
		width: 200px;
		height: 1px;
		bottom: 0;
		left: 0;
		background: #6d7278;
	}
}
.inspiration__text {
	margin-bottom: 30px;
}
/* .inspiration__list {
} */
.inspiration__item {
	color: $title-black;
	@extend %title-font;
	line-height: 23px;
	margin-bottom: 33px;
}
.inspiration__item-content {
	display: flex;
	justify-content: space-between;
	padding-bottom: 14px;
	border-bottom: 2px solid #fff;
	border-radius: 4px;
}
/* .inspiration__item-text {
} */
/* .inspiration__num {
} */
.inspiration__line {
	height: 2px;
	border-radius: 4px;
	background-color: $title-black;
	margin-top: -2px;
}

// ==========================================================================================================

.partners {
	padding: 16px 0 60px;
}

.partners__items {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
}
.partners__item {
	margin: 0 auto;
}
