.map {
	margin-top: -57px;
	margin-bottom: 50px;
}

.contact {
	padding-bottom: 100px;
}

.contact__title {
	color: $title-black;
	@extend %title-font;
	font-size: 36px;
	line-height: 60px;
	padding-bottom: 30px;
	margin-bottom: 40px;
	// рисуем полосочку:
	position: relative;
	&::after {
		content: "";
		position: absolute;
		width: 200px;
		height: 1px;
		bottom: 0;
		left: 0;
		background: #6d7278;
	}
}
.contact .contact__social {
	padding-left: 284px;
	display: flex;
	margin-bottom: 20px;
}
.contact__box {
	padding-left: 284px;
}
.contact__text {
	margin-bottom: 10px;
}
/* .contact__social-item {
	display: flex;
} */
.contact__social-item + .contact__social-item {
	padding-left: 40px;
}
/* .contact__social-link + .contact__social-link {
	padding-left: 40px;
} */
/* .contact__social-img {
} */
.contact__phone {
	color: $default-text;
}
/* .contact__st {
} */
.contact__city {
	margin-bottom: 16px;
}

.contact__form {
	padding-left: 284px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.contact__form-input {
	border: 1px solid #dfdfdf;
	border-radius: 20px;
	padding: 6px 17px;
	margin-bottom: 13px;
	width: 48%;
	&::placeholder {
		color: #a1a1a1;
		font-family: "Open Sans", sans-serif;
		font-size: 16px;
		line-height: 27px;
		font-weight: 400;
	}
}
.contact__form-area {
	border: 1px solid #dfdfdf;
	border-radius: 24px;
	width: 100%;
	padding: 14px 17px;
	min-height: 125px;
	margin-bottom: 20px;
	resize: none;
	&::placeholder {
		color: #a1a1a1;
		font-family: "Open Sans", sans-serif;
		font-size: 16px;
		line-height: 27px;
		font-weight: 400;
	}
}
.contact__form-btn {
	border: none;
	background-color: $title-black;
	color: #fffff0;
	font-weight: 600;
	border-radius: 21px;
	padding: 6px 60px;
	cursor: pointer;
}

.contact__slider {
	padding-bottom: 102px;
	&-link {
		position: relative;
		margin-bottom: 20px;
		&:hover {
			.contact__slider-title {
				opacity: 1;
			}
		}
	}
	&-img {
		width: 170px;
		height: 170px;
		object-fit: cover;
	}
	&-title {
		transition: all 0.5s;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: rgba(#fff, 0.5);
		color: $title-black;
		@extend %title-font;
		line-height: 22px;
		padding: 0 10px;
		text-align: center;
		opacity: 0;
	}
}
