// Структура, отвечающая за то чтобы footer был прижат к низу страницы:

html,
body {
	height: 100%;
}

body {
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	line-height: 27px;
	font-weight: 400;
	color: $default-text;
	overflow-x: hidden; /* убрали горизонтальную прокрутку */
	min-width: 320px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}
//========================================================================

.container {
	max-width: 1140px; /* контейнер из макета с учётом полей (внутреннего отступа): 1110+(15+15) */
	margin: 0 auto;
	padding: 0 15px;
}

.container-fluid {
	max-width: 1920px;
	margin: 0 auto;
	padding: 0 10px;
}

//=========================================================================

/* названия классов прописываются в коде html-файла после усановки слайдера автоматически */
.slick-dots {
	display: flex;
	justify-content: center;
	align-items: center;
	// отступы между точками:
	li {
		margin: 0 15px;
	}
	// рисуем точки:
	button {
		background-color: $title-black;
		border: none;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		padding: 0;
		font-size: 0;
	}
	// для активной точки:
	li.slick-active {
		button {
			background-color: #ffef35;
		}
	}
}

//============================================================================

// Хлебные крошки:

.breadcrumbs {
	background: rgba(#dfdfdf, 0.85);
	padding: 13px 14px;
	position: relative;
	z-index: 10;
}

.breadcrumbs__list {
	display: flex;
}
.breadcrumbs__item::after {
	content: "/";
	margin-left: -4px;
	margin-right: 4px;
}
.breadcrumbs__item:last-child::after {
	display: none; /* убрали косую черту у последнего элемента меню хлебных крошек */
}
.breadcrumbs__link {
	font-size: 14px;
	color: $default-text;
}
